/* File: app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50;
  }

  input[type='range'] {
    @apply h-2 w-full cursor-pointer appearance-none rounded-lg bg-slate-200;
  }

  input[type='range']::-webkit-slider-thumb {
    @apply h-5 w-5 appearance-none rounded-full border-4 border-white bg-[#0070f3] shadow-sm transition;
  }

  input[type='range']:hover::-webkit-slider-thumb {
    @apply scale-110;
  }

  input[type='range']:active ::-webkit-slider-thumb {
    @apply scale-100;
  }

  input[type='range']::-moz-range-thumb {
    @apply h-5 w-5 appearance-none rounded-full border-4 border-white bg-[#0070f3] shadow-sm transition;
  }

  input[type='range']:hover::-moz-range-thumb {
    @apply scale-110;
  }

  input[type='range']:active::-moz-range-thumb {
    @apply scale-100;
  }
}